
  <div class="wrapper 	">
    <div class="border-b-2 border-indigo-500">
      <div class="header mx-5  flex flex-row justify-around ">
        <p class="font-bold px-2 py-6 text-blue-500">ASSET MANAGER</p>

        <button pButton pRipple type="button"  class="p-button-text">< Back</button>

        <i class="pi pi-sort-amount-down my-4" style="font-size: 1.7rem"></i>
        <i class="pi pi-list my-4" style="font-size: 1.7rem"></i>
        <i class="pi pi-filter my-4" style="font-size: 1.7rem"></i>

        <span class="p-input-icon-left my-2">
            <i class="pi pi-search"></i>
            <input type="text" pInputText  placeholder="Search">


        </span>
      </div>
    </div>
  </div>

