
  <div class="border-b-2 border-r-2 border-indigo-500 h-full">
    <div class="header mx-5 flex flex-col justify-center   ">
      <i class="pi pi-plus-circle my-4 mx-auto" style="font-size: 1.7rem">     ADD</i>
      <button pButton pRipple type="button" label="FOLDERS" class="p-button-raised "></button>
      <button pButton pRipple type="button" label="CAMPAIGNS" class="p-button-raised"></button>
      <button pButton pRipple type="button" label="TEMPLATES" class="p-button-raised"></button>
      <button pButton pRipple type="button" label="RECENT" class="p-button-raised"></button>
      <i class="pi pi-trash mt-20 mb-5 mx-auto" style="font-size: 2rem">     BIN</i>
    </div>
  </div>

