<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<app-header></app-header>
<div class="main flex flex-row ">
  <app-root-folder-list class="w-2/12"></app-root-folder-list>
  <app-file-list class="w-9/12"></app-file-list>
  <app-folder-details class="w-3/12"></app-folder-details>
</div>
<app-drag-drop-actions-panel></app-drag-drop-actions-panel>
</body>
</html>




